.w-1500 {
   max-width: 1500px;
   margin-right: auto;
   margin-left: auto;
}
.w-1550 {
   max-width: 1550px;
   margin-right: auto;
   margin-left: auto;
}
.w-1400 {
   max-width: 1400px;
   margin-right: auto;
   margin-left: auto;
}
.w-1300 {
   max-width: 1300px;
   margin-right: auto;
   margin-left: auto;
}

.container {
   padding-left: 2rem;
   padding-right: 2rem;
}

// .w-1920 {
//    max-width: max-content
//    margin-right: auto;
//    margin-left: auto;
// }
