.module {
   @media (max-width: 1500px) {
      margin-right: auto;
      margin-left: auto;
      padding-left: 1rem;
      padding-right: 1rem;
   }
   @media (max-width: 800px) {
      transform: scale(0.9);
   }
   @media (max-width: 445px) {
      transform: scale(1);
   }

   padding-bottom: 5rem;

   &__wrapper {
      display: grid;
      background-color: $secondary;
      grid-template-columns: 320px 1fr;
      @media (max-width: 760px) {
         display: grid;
         grid-template-columns: 1fr;
      }
      @media (max-width: 760px) {
         display: flex;
         flex-direction: column;
      }
      @media (max-width: 420px) {
         transform: scale(1);
      }
   }
   // height: 75rem;

   &__details {
      padding-left: 1rem;
   }
   &__left {
      // grid-template-columns: 200px;
      background-color: $primary;
      padding-left: 2.5rem;

      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.7rem;
      font-family: 'Rajdhani';
      font-weight: 900;
      text-transform: uppercase;
      color: $grayDark;
      clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
      @media (max-width: 760px) {
         clip-path: none;
         padding-top: 1.2rem;
         padding-bottom: 1.2rem;
      }
      @media (max-width: 650px) {
         padding-left: 1rem;
      }
      @media (max-width: 650px) {
         padding-left: 10px;
      }
   }

   &__tabs {
      // background-color: $secondary;
      margin-left: -5rem;
      padding-left: 7rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-family: 'Rajdhani';
      font-size: 1.2rem;
      @media (max-width: 800px) {
         padding-left: 5rem;
      }
      @media (max-width: 760px) {
         margin-left: auto;
         margin-right: auto;
         padding-top: 1rem;
         padding-bottom: 1rem;
      }
      @media (max-width: 445px) {
         font-size: 1rem;
      }
      @media (max-width: 380px) {
         padding-right: none;
         padding-left: none;
         transform: scale(1);
         margin-left: auto;
         margin-right: auto;
      }
      @media (max-width: 500px) {
         padding-right: 3rem;
      }

      @media (max-width: 420px) {
         padding-top: 1.2rem;
         padding-bottom: 1.2rem;
      }

      &--item {
         &:hover {
            color: $primary;
         }
      }
      &--list {
         display: flex;
         gap: 2rem;
         color: white;

         @media (max-width: 760px) {
            gap: 5rem;
         }
         @media (max-width: 580px) {
            gap: 2rem;
         }
         @media (max-width: 500px) {
            font-size: 1.3rem;
            line-height: 0.5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;

            justify-items: center;

            // gap: 10rem;
         }
         @media (max-width: 420px) {
            grid-template-columns: 1fr;
            cursor: pointer;
         }
      }
      @media (max-width: 760px) {
         padding-right: 1rem;
         padding-left: 1rem;
      }
   }
   &__cards {
      &--list {
         display: grid;
         line-height: 1.5rem;
         grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
         // border-left: 1px solid #e3e3e3;

         // @media (max-width: 1010px) {
         //    border-left: 1px solid #e3e3e3;
         // }
         // @media (max-width: 445px) {
         // grid-template-columns: 1fr 1fr;
         // border-left: none;
         // gap: none;
         // margin-top: 0rem;
         // padding-bottom: 1rem;
         // }
      }

      &--item {
         position: relative;

         // border-bottom: 1px solid #e3e3e3;
         // border-right: 1px solid #e3e3e3;

         // @media (max-width: 1010px) {
         //    border-left: 1px solid #e3e3e3;
         // }
         // @media (max-width: 800px) {
         //    border-bottom: 1px solid #f0f0f0;
         // }
         @media (max-width: 768px) {
            margin-bottom: 4rem;
         }
         // @media (max-width: 445px) {
         //    border-top: 1px solid #e3e3e3;
         // }

         &--wrapper {
            padding-bottom: 1rem;
            border: 1px solid #e3e3e3;
         }

         &:hover .module__cards--item--photo {
            transform: scale(1.1);
         }
         &:hover .module__cards--submit {
            transform: scale(1);
         }

         &:hover .module__popup {
            // transform: scale(1);
            transform: translateY(0rem);
            opacity: 1;
            visibility: visible;
         }
         &--imageWrapper {
            overflow: hidden;
         }

         &--price {
            font-weight: 900;
            font-family: 'Open Sans';
            font-size: 1.1rem;
         }
         &--photo {
            transition: all 0.2s ease;
         }
      }
      &--submit {
         background: $primary;
         color: $secondary;
         border-radius: 50%;
         width: 35px;
         height: 35px;
         margin-right: 1rem;
         float: right;
         margin-top: -2.5rem;
         font-size: 1.8rem;
         text-align: center;
         transform: scale(0);
         transition: all.2s ease-in-out;

         &--icon {
            line-height: 2.3rem;
            font-weight: 100;
            color: $secondary;
            &:hover {
               color: white;
            }
            @media (max-width: 800px) {
               line-height: 1.9rem;
            }
         }
         @media (max-width: 800px) {
            transform: scale(1);
            font-size: 22px;
            width: 30px;
            height: 28px;
         }
      }
   }

   &__reviews {
      &--actions {
         color: $primary;
      }
   }

   &__popup {
      display: flex;
      color: #707070;
      justify-content: space-between;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
      border-left: 1px solid #e3e3e3;
      transform: scale(0);

      position: absolute;
      transform: translateY(1.5rem);
      width: 100%;
      transition: all 0.1s ease-in-out;
      opacity: 0;
      visibility: hidden;
      @media (max-width: 800px) {
         opacity: 1;
         visibility: visible;
         transform: translateY(0);
         border-left: 1px solid #e3e3e3;
         border-right: 1px solid #e3e3e3;
      }

      @media (max-width: 445px) {
         display: flex;
         justify-content: space-between;
         padding-top: 1rem;
         background-color: transparent;
      }
      &--wrapper {
         &:hover {
            color: $primary;
         }
         @media (max-width: 445px) {
            padding-top: 0.5rem;
            color: $secondary;
            &:hover {
               color: $primary;
            }
         }

         display: flex;
         padding-left: 0.8rem;
         padding-right: 0.8rem;
         &--icon {
            font-size: 1.5rem;
            @media (max-width: 445px) {
               font-size: 20px;
            }
         }
         &--name {
            font-size: 1.2rem;
            padding-left: 0.2rem;
            // padding-left: 1px;
            @media (max-width: 800px) {
               display: none;
            }
            @media (max-width: 644px) {
               display: flex;
            }
            @media (max-width: 550px) {
               display: none;
            }
            @media (max-width: 444px) {
               display: flex;
               padding-left: 0.3rem;
            }
            @media (max-width: 360px) {
               display: none;
            }
         }
         @media (max-width: 445px) {
            padding-bottom: none;
            padding-top: none;
            line-height: 8px;
         }
      }
      @media (max-width: 1115px) {
         z-index: 1;
         padding-top: 0.4rem;
         padding-bottom: 0.5rem;
      }
   }
}
